<!DOCTYPE html>

<html lang="fr">

  <%- include("./partials/head") -%>

  <body>

    <%- include("./partials/header") -%>

    <%- include("./partials/sideNav") -%>

    <div id="starterRecipes" class="allRecipes">
    <% for (const recipe of starterRecipes) { %>
      <div class=recipeThumbnail>
        <img class="recipePhoto" src="<%- recipe.pictureUrl -%>"/>
        <div class="recipeLegend">
          <div class="recipeCategory"><%- recipe.category -%></div>
          <div class="recipeName"><%- recipe.name -%></div>
        </div>
      </div>
    <% } %>
    </div>

    <div id="dishRecipes" class="allRecipes">
    <% for (const recipe of dishRecipes) { %>
      <div class=recipeThumbnail>
        <img class="recipePhoto" src="<%- recipe.pictureUrl -%>"/>
        <div class="recipeLegend">
          <div class="recipeCategory"><%- recipe.category -%></div>
          <div class="recipeName"><%- recipe.name -%></div>
        </div>
      </div>
    <% } %>
    </div>

    <div id="dessertRecipes" class="allRecipes">
    <% for (const recipe of dessertRecipes) { %>
      <div class=recipeThumbnail>
        <img class="recipePhoto" src="<%- recipe.pictureUrl -%>"/>
        <div class="recipeLegend">
          <div class="recipeCategory"><%- recipe.category -%></div>
          <div class="recipeName"><%- recipe.name -%></div>
        </div>
      </div>
    <% } %>
    </div>

    <script>
      const starterRecipes = <%- starterRecipesJSON %>;    
      const dishRecipes = <%- dishRecipesJSON %>;
      const dessertRecipes = <%- dessertRecipesJSON %>;              

    </script>

    <script src="/js/index.js"></script>

  </body>

</html>
