<!DOCTYPE html>

<html lang="fr">

  <%- include("./partials/head") -%>

  <body>

    <%- include("./partials/header-recipes") -%>

    <%- include("./partials/sideNav") -%>

    <div class="introduction">
        <img class="recipePhoto" src="<%- recipe.pictureUrl -%>"/>
        <div class="recipeTitle">
            <div class="recipeCategory"><%- recipe.category -%></div>
            <div class="recipeName"><%- recipe.name -%></div>
            <div class="time">
              <div class="preparationTime"><i class="fas fa-mitten"></i><%- recipe.preparationTime -%></div>
              <div class="cookingTime"><i class="fab fa-hotjar"></i><%- recipe.cookingTime -%></div>
              <hr>
              <div class="totalTime"><i class="far fa-clock"></i><%- recipe.totalTime -%></div>
            </div>
            <div class="quantity"><%- recipe.quantity -%></div>
        </div>
    </div>

    <div class="recipe">
        <ul class="ingredients">Ingrédients<hr>
          <% for (let i=0; i<(recipe.ingredients).length; i++) { %>
          <li><%- recipe.ingredients[i] -%></li>
          <% } %>
        </ul>
        <ol class="instructions">Instructions<hr>
          <% for (let i=0; i<(recipe.instructions).length; i++) { %>
            <li><%- recipe.instructions[i] -%></li>
            <% } %>
        </ol>
    </div>

    <script src="/js/index.js"></script>

  </body>

</html>
