<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les bonnes recettes d'Evy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/389e541470.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="arrowUp"></div>
    <header>
        <a class="homeButton" href="/"><i class="fas fa-home"></i></a>
        <h1 class="title">Les bonnes recettes d'Evy</h1>
        <nav class="navBar">
            <form action="/filter" method="GET" class="form">
                <select onchange="this.form.submit()" class="recipeCategory" name="category">
                    <option value="Toutes-les-catégories" disabled hidden>Toutes les catégories</option>
                    <% for (const category of categories) { %>
                        <% if (typeof selectedCategory == "undefined" || selectedCategory !== category.value) { %>
                            <option value="<%= category.value %>"><%= category.label %></option>
                        <% } if (selectedCategory === category.value) { %>
                                <option value="<%= category.value %>" selected><%= category.label %></option>
                        <% } %>
                    <% } %>
                </select>
                <select onchange="this.form.submit()" class="recipeCountry" name="country">
                    <option value="Tous-les-types-de-cuisine" disabled hidden>Tous les types de cuisine</option>
                    <% for (const country of countries) { %>
                        <% if (typeof selectedCountry == "undefined" || selectedCountry !== country.value) { %>
                            <option value="<%= country.value %>"><%= country.label %></option>
                        <% } if (selectedCountry === country.value) { %>
                                <option value="<%= country.value %>" selected><%= country.label %></option>
                        <% } %>
                    <% } %>
                </select>
            </form>
            <form action="/search/name" method="GET" class="search">
                <input type="text" name="name" placeholder="Rechercher une recette"/>
                <button type="submit"><i class="fas fa-search searchButton"></i></button>
            </form>
        </nav>
    </header>