<%- include('partials/header') %>

<main class="adminRecipePage">
    <h2 class="title">Modifier une recette</h2>
    <form action="/update/recipe" method="POST" class="adminRecipePageForm">
        <input type="hidden" name="id" value="<%= recipe.id %>">
        <div class="container">
            <div class="description">
                <div class="category">
                    <label for="category">Catégorie</label>
                    <input name="category" id="category" list="categories" value="<%= recipe.category %>">
                </div>
                <div class="country">
                    <label for="country">Type de cuisine</label>
                    <input name="country" id="country" list="countries" value="<%= recipe.country %>">
                </div>
                <div class="name">
                    <label for="name">Nom</label>
                    <input type="text" name="name" id="name" value="<%= recipe.name %>">
                </div>
                <div class="quantity">
                    <label for="quantity">Quantité</label>
                    <input type="text" name="quantity" id="quantity" value="<%= recipe.quantity %>">
                </div>
                <div class="preparationTime">
                    <label for="preparationTime">Temps de préparation</label>
                    <input type="text" name="preparationTime" id="preparationTime" value="<%= recipe.preparationTime %>">
                </div>
                <div class="restTime">
                    <label for="restTime">Temps de repos</label>
                    <input type="text" name="restTime" id="restTime" value="<%= recipe.restTime %>">
                </div>
                <div class="cookingTime">
                    <label for="cookingTime">Temps de cuisson</label>
                    <input type="text" name="cookingTime" id="cookingTime" value="<%= recipe.cookingTime %>">
                </div>
                <div class="totalTime">
                    <label for="totalTime">Temps total</label>
                    <input type="text" name="totalTime" id="totalTime" value="<%= recipe.totalTime %>">
                </div>
                <div class="image">
                    <label for="image">URL de l'image</label>
                    <input type="text" name="image" id="image" value="<%= recipe.pictureUrl %>">
                </div>
            </div>
            <div class="ingredients" id="ingredients">
                <label for="ingredient">Ingrédients</label>
                <button type="button" onclick="addIngredient()" class="addIngredientButton">+</button>
                <% for (const ingredient of recipe.ingredients) { %>
                    <div class="ingredient">
                        <input type="text" name="ingredients" id="ingredient" value="<%= ingredient %>">
                        <button type="button" onclick="deleteIngredient(this)" class="deleteIngredientButton">-</button>
                    </div>
                <% } %>
            </div>
            <div class="instructions" id="instructions">
                <label for="instruction">Instructions</label>
                <textarea name="instructions" id="instructionsList" rows="40" cols="45"><%= recipe.instructions.join("\r\n\r\n") %></textarea>
            </div>
        </div>
        <input type="submit" value="Valider" class="submitButton">
    </form>
</main>

<%- include('partials/footer') %>