<%- include('partials/header') %>

<div class="homePageRecipes">
    <% for (const recipe of recipes) { %>
        <div class="homePageRecipe">
            <img src="<%= recipe.pictureUrl %>">
            <h2 class="homePageRecipeCategory"><%= recipe.category %></h2>
            <h3 class="homePageRecipeName"><%= recipe.name %></h3>
        </div>
    <% } %>
</div>
<a href="#arrowUp">
    <img class="arrowUp" src="/images/arrow_upward.svg">
</a>

<%- include('partials/footer') %>