<%- include('partials/header') %>

<main class="recipePage">
    <div class="recipePageTop">
        <div class="recipePageTopContainer">
            <div class="recipePageIntroduction">
                <div class="recipePageTitle">
                    <h2 class="category"><%= recipe.category %></h2>
                    <h3 class="country"><%= recipe.country %></h3>
                    <h4 class="name"><%= recipe.name %></h4>
                </div>
                <div class="recipePageQuantity"><%= recipe.quantity %></div>
                <div class="recipePageTime">
                    <div class="preparationTime"><i class="fas fa-mitten timeIcon"></i> <%= recipe.preparationTime %></div>
                    <div class="restTime"><i class="far fa-pause-circle timeIcon"></i> <%= recipe.restTime %></div>
                    <div class="cookingTime"><i class="fab fa-hotjar timeIcon"></i> <%= recipe.cookingTime %></div>
                    <hr>
                    <div class="totalTime"><i class="far fa-clock timeIcon"></i> <%= recipe.totalTime %></div>
                </div>
            </div>
            <img class="recipePageImage" src="<%= recipe.pictureUrl %>">
        </div>
    </div>
    <div class="recipePageBottom">
        <div class="recipePageBottomContainer">
            <div class="recipePageIngredientsContainer">
                <div class="title">Ingrédients</div>
                <ul class="ingredients">
                    <% for (const ingredient of recipe.ingredients) { %>
                        <li><%= ingredient %></li>
                    <% } %>
                </ul>
            </div>
            <div class="recipePageInstructionsContainer">
                <div class="title">Instructions</div>
                <ol class="instructions">
                    <% for (const instruction of recipe.instructions) { %>
                        <li><%= instruction %></li>
                    <% } %>
                </ol>
            </div>
        </div>
    </div>
</main>
<a href="#arrowUp">
    <img class="arrowUp" src="/images/arrow_upward.svg">
</a>

<%- include('partials/footer') %>